{%extends 'base/auth/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>
    Reset Password
</title>
{% endblock%}


{% block content %}
<div style="display:flex; justify-content: center;">
<div style="width: 400px">
<form method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal text-center">Reset Password</h1>
    <div class="form-floating mb-3">
    <label for="email">Enter Email address</label><br/>
    {% render_field form.email|add_class:"form-control" id="email" type="email" placeholder="Email" %}
    {% for error in form.email.errors %}
          <p class="text-danger">{{error}}</p>
    {% endfor %}
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Send Mail</button>
  <div class="col-12 mt-2">
    <p class="small mb-0"><a href="{% url 'users:login' %}">Go Back</a></p>
  </div>
</form>
</div>
</div>
 

{% endblock%}



