{% load static %}

          <!-- Card with an image on left -->
          <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                    {% if product.product_type == 'FILES' %}
                        <img src="{% static 'img/file_img.jpeg' %}" class="img-fluid rounded-start" alt="...">    
                    {% elif product.image %}
                        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">    
                     {% else %}
                        <img src="{% static 'img/link-2.jpeg' %}" class="img-fluid rounded-start" alt="...">    
                     {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.title|upper|truncatechars:15 }}</h5>
                  <p class="card-text">{{ product.description|capfirst|truncatechars:30 }}</p>
                  <small class="text-body-secondary">{{ product.created_at|date:"SHORT_DATE_FORMAT" }}</small>
                  <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text"><a href="{% url 'main:product_detail' product.id %}" class="btn btn-primary">View</a></p>
                    {% if request.user.user_type == "ADMIN" %}
                        <a  href="{% url 'main:product_edit' product.id %}" class="card-link">Edit Item</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
        </div>

 