{%extends 'base/main/base.html' %}
{% load widget_tweaks %}


{% block title %}
<title>
    New Category
</title>
{% endblock%}

{% block pagetitle%}
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Categories</li>
          <li class="breadcrumb-item active">New</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please Add New Category</h1>
      <div class="form-floating">
        {% render_field form.title|add_class:"form-control" id="title" type="text" placeholder="Title" %}
        <label for="floatingInput">Title</label>
        <p class="text-danger">{{form.title.errors}}</p>
      </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Add Category</button>
</form>
 

{% endblock%}

