{%extends 'base/main/base_new.html' %}

{% block title %}
<title>
    Category
</title>
{% endblock%}

{% block pagetitle%}
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Categories</li>
          <li class="breadcrumb-item active">{{ selected_category.title|upper }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
     {{ message }}
    </div>
    {% comment %} <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endcomment %}
    {% endfor %}
{% endif %}

<div class="album py-3 bg-body-tertiary">
    <div class="container">        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in selected_products %}
               {% include "includes/product.html" with product=product %}
             {% endfor %} 
        </div>
    </div>
</div>

<br/>

{% endblock%}

