
{%extends 'base/main/base.html' %}
{% load static %}

{% block title %}
<title>
    Home
</title>
{% endblock%}

{% block content %}
<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-body-secondary">Our mission is to nurture the love of books and support your book-reading fantasies. Let’s use our love of books to collectively build brilliant, creative futures for ourselves and our world.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>My Library</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<div>
    <section class="py-2 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Welcome</h1>
                <p class="lead text-body-secondary">Let us store the energy that fuels the imagination. Open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life.</p>
            </div>
        </div>
    </section>
    <div class="album py-3 bg-body-tertiary">
        <div class="container">
            <div class="album py-2">Latest Posts</div>
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                {% for product in products %}
                
               {% include "includes/product.html" with product=product %}
           
                {% endfor %}   
            </div>
        </div>
    </div>
</div>



{% endblock%}

