
{%extends 'base/main/base.html' %}
{% load static %}


{% block title %}
<title>
    All Products
</title>
{% endblock%}

{% block content %}

<br/>
<br/>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
     <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'main:product_list' %}">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">List</li>
     </ol>
</nav>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
     {{ message }}
    </div>
    {% comment %} <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endcomment %}
    {% endfor %}
{% endif %}

<div class="album py-3 bg-body-tertiary">
     <div class="container">
         <div class="album py-2">Latest Posts</div>
         
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
             
             {% for product in products %}
               {% include "includes/product.html" with product=product %}
             {% endfor %}   
         </div>
     </div>
  {% include "includes/pagination.html" with page=products %}
 </div>

<br/>

{% endblock%}

