{%extends 'base/main/base.html' %}

{% block title %}
<title>Users</title>
{% endblock%} 

{% block other_styles %}     
{% endblock %}

{% block content %}
<br />
<br />

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">
      <a href="{% url 'users:user_list' %}">Attendance</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{% url 'users:attendance_list' %}">LIST</a>
    </li>
  </ol>
</nav>

<br />
<br />
{% if messages %} 
{% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
 {% endfor %} 
 {% endif %}

      <h2>Attendance</h2>

       <div class="table-responsive small">
        <table id="bootstrapdatatable" class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Names</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">TYPE</th>
              <th scope="col">Activity</th>
              <th scope="col">Device</th>
              <th scope="col">Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
             <tr>
              <td>{{result.id}}</td>
              <td>{{result.user.name}}</td>
              <td>{{result.user.email}}</td>
              <td>{{result.user.user_type}}</td>
              <td>{{result.attendance_type}}</td>
              <td>{{result.activity}}</td>
              <td>{{result.device.name}}</td>
              <td>{{result.created_at}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>è

<br />

<script>
  $(document).ready(function(){
    console.log("Here 222")
    $.get("search/?name=mocor", function(data, status){
      console.log(data)
      console.log(status)
  });
  });
</script>

{% endblock%}
