{%extends 'base/main/base.html' %}

{% block title %}
<title>Attendance</title>
{% endblock%} 


{% block pagetitle%}
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Attendance</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}

{% if messages %} 
{% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
 {% endfor %} 
 {% endif %}

      <h2>Attendance</h2>

       <div class="table-responsive small">
        <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Names</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">TYPE</th>
              <th scope="col">Activity</th>
              <th scope="col">Device Name</th>
              <th scope="col">Device Addr</th>
              <th scope="col">Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
             <tr>
              <td>{{result.id}}</td>
              <td>{{result.user.name}}</td>
              <td>{{result.user.email}}</td>
              <td>{{result.user.user_type}}</td>
              <td>{{result.attendance_type}}</td>
              <td>{{result.activity}}</td>
              <td>{{result.device.name}}</td>
              <td>{{result.device.address}}</td>
              <td>{{result.created_at}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

<br />

{% endblock%}
