{%extends 'base/main/base.html' %}

{% block title %}
<title>Devices</title>
{% endblock%} 


{% block pagetitle%}
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Devices</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}

{% if messages %} 
{% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
 {% endfor %} 
 {% endif %}

      <h2>Bluetooth Devices</h2>

       <div class="table-responsive small">
        <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
             <tr>
              <td>{{result.name}}</td>
              <td>{{result.address}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

<br />

<script>

{% endblock%}
